@import url(../lib/bs4/css/bootstrap.min.css);
/* COMMENT TO FIX */
body {
    text-align: center;
    margin: 10px;
    background-image: url("img/nature.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.bookshop-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 97vh;
}

.container {
    height: 70%;
    border-radius: 15px;
    background-color: rgb(203, 218, 215);
    -webkit-box-shadow: 10px 13px 87px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 87px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 87px 1px rgba(0,0,0,0.75);
    transition: 0.5s;
    margin: 10px;
}

.container:hover {
    -webkit-box-shadow: 10px 13px 87px 19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 87px 19px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 87px 19px rgba(0,0,0,0.75);
}

.books-container {
    margin: 10px;
}

.book-img {
    width: 50px;
    height: 60px;
}

.modal-header {
    display: inline-block;
    background-color: lightgreen;
}

.modal-body {
    background-color: lightpink;
}
.modal-footer {
    display: inline-block;
    background-color: lightblue;
}

.close {
    line-height: 0;
}

.title-sort {
    cursor: pointer;
}

select {
    cursor: pointer;
}

input {
    width: 60px;
    position: absolute;
}

.hide {
    display: none;
}

.newBook-modal {
    display: none;
    width: 300px;
    height: fit-content;
    background-color: rgb(125, 177, 96);
    border: 2px solid black;
    position: fixed;
    left: 50%;
    margin-left: -150px;
    border-radius: 15px;
    text-align: start;
    -webkit-box-shadow: 10px 11px 46px -1px rgba(59,58,59,0.81);
    -moz-box-shadow: 10px 11px 46px -1px rgba(59,58,59,0.81);
    box-shadow: 10px 11px 46px -1px rgba(59,58,59,0.81);
}

.header {
    text-align: center;
    margin-top: 10px;
}

.modal-body2 {
    margin-top: 25px;
}

.modal2-footer {
    text-align: center;
    margin: 5px;
}

label {
    width: 120px;
    clear: left;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}

.rtl {
    direction: rtl;
}

.btn {
    margin-bottom: 0.25rem;
}

h6 {
    margin-bottom: 0rem;
}

@media only screen and (max-width: 768px), (min-device-width: 768px) and (max-device-width: 1024px) {
     .bookshop-container {
        height: unset;
    }
    table, thead, tbody, th, td, tr {
        display: block;
    }
    
    thead tr {
        position: absolute; 
        top: -9999px;
        left: -9999px;
    }
    tr { border: 3px solid #ccc;}
    td { 
        border: none;
        border-bottom: 0px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    input {
        left: 50%;
        margin-left: -30px;
    }
    .newBook-modal {
        z-index: 10;
    }    
}