@import url(../lib/bs4/css/bootstrap.min.css);
/* COMMENT TO FIX */
body {
    text-align: center;
    margin: 10px;
    background-image: url("img/nature.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.bookshop-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 97vh;
}

.container {
    height: 70%;
    border-radius: 15px;
    background-color: rgb(203, 218, 215);
    -webkit-box-shadow: 10px 13px 87px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 87px 1px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 87px 1px rgba(0,0,0,0.75);
    transition: 0.5s;

}

.container:hover {
    -webkit-box-shadow: 10px 13px 87px 19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 87px 19px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 87px 19px rgba(0,0,0,0.75);
}

.books-container {
    margin: 10px;
}

.book-img {
    width: 50px;
    height: 60px;
}

.modal-header {
    display: inline-block;
    background-color: lightgreen;
}

.modal-body {
    background-color: lightpink;
}
.modal-footer {
    display: inline-block;
    background-color: lightblue;
}

.close {
    line-height: 0;
}

.title-sort {
    cursor: pointer;
}

input {
    width: 60px;
    position: absolute;
}

.hide {
    display: none;
}

.newBook-modal {
    display: none;
    width: 300px;
    height: 200px;
    background-color: grey;
    border: 2px solid black;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    border-radius: 15px;
    text-align: start;
}

.header {
    text-align: center;
    margin-top: 10px;
}

.modal-body2 {
    margin-top: 25px;
}

label {
    width: 120px;
    clear: left;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
}

.rtl {
    direction: rtl;
}