.game {
    height: auto;
    width: 90%;
    background-color: rgb(219, 45, 132);
    display: flex;
    padding: 20px;
    margin: 20px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 50px
}

.wrapper {
    width: 70%; 
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
.questions-wrapper {
    height: 300px;
    width: 400px;
    position: relative;
    margin: 0 auto;
    /* margin-left: 60%; */
    border-radius: 50px;
    background-color: rgb(64, 123, 143);
}

.board td {
    width: 50px;
    height: 50px;
    text-align: center;
    transition: .5s;
    font-size: 25px;
    color: rgb(61, 44, 44);
    font-style: italic;
}

.board td:hover {
    background-color: lightsalmon;
}

.image {
    background-image: url("image-1.jpg");
    height: 250px;
    width: 250px;
    margin-top: 10px;
    border-radius: 30%;
}

.h1 {
    font-style: italic;
}

.h2 {
    display: none;
}